*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family:Nexa-ExtraLight ;
    src: url(../assets/fonts/Nexa-ExtraLight.ttf);
}
@font-face {
    font-family:Nexa-Heavy ;
    src: url(../assets/fonts/Nexa-Heavy.ttf);
}
body{
    overflow-x: hidden;
    font-family: 'Nexa-Heavy';
    /* background: rgba(225,225,225,.8); */
}
h2{
    font-size: 3rem;
    color:white;
}
h3{
    font-size: 1.5rem;
}
a,p,h3{
    text-decoration: none;
    color:white;
}
nav{
    width:100%;
    background: black;
    /* background-image: url('../assets/images/desktop\ header\ bg.svg'); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    height:12vh;
    /* border-radius: 0 0 55% 5%; */
    position: fixed;
    top:0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
    z-index: 10000;
}
nav.active{
    height:10vh;
    background-position: center 5%;
    /* border-radius: 0; */
}

.nav-holder{
    position: relative;
    width:85%;
    max-width: 2040px;
    display: flex;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    
}
.nav-drop{
    width:100%;
    height: 100vh;
    position:fixed;
    top:-150%;
    background: black;
    transition: .5s ease;
    z-index: 10000;
}
.nav-drop.active{
    top:0;
}
.nav-drop-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}
.nav-drop-links ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    width: 80%;
}
.nav-drop-links ul li{
    list-style-type: none;
    color:white;
    font-size: 2.2rem;
    /* width:100%; */
    display: block;
    
}
.nav-drop-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    border-radius: 15px;
}
.nav-drop-links a{
background: linear-gradient(90deg, #E92729 0%, #931C1F 100%);
}

.close{
    position: absolute;
    width:50px;
    height: 50px;
    color: white;
    font-size: 3rem;
    top:15%;
    right:5%;
    pointer-events: none;
    display: none;
    opacity: 0;
}
.close.active{
    pointer-events: all;
    cursor:pointer;
    display: inline;
    opacity: 1;
    z-index: 100;
}
.close::before,.close::after{
    content:'';
    width:30px;
    height:5px;
    background: white;
    position: absolute;
    top:50%;
    left:25%;
    transform: translateY(-40%,-50%);
    /* z-index: 100; */
}
.close::before{
    transform: rotateZ(45deg);
}
.close::after{
    transform: rotateZ(-45deg);
}
.logo{
    width:150px;
    height: 100px;
    /* display: grid;
    place-items: center; */
    /* margin-left:7.5% ; */
    /* padding-top:1rem; */
    transition: .3s ease;
    position: relative;
    /* background: rgba(255,255,255,1); */
}
.logo img{
    position: absolute;
    /* object-fit: cover; */
    width:100%;
    height: 100%;
}
.logo.active{
    height:70px;
    width:130px;
    padding-top: 0;
}
.dots{
    /* margin-right:7.5%; */
    cursor: pointer;
    transition: .2s ease;
}
.dots img{
    width:100%;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav-links ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-links ul li{
    list-style-type: none;
    display: inline;
    font-weight:200;
}

.nav-drop{
    width:100%;
    height: 100vh;
    position:fixed;
    top:-150%;
    background: black;
    transition: .5s ease;
    z-index: 10000;
}
section{
    background: #D92728;
    margin-top:10vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
    min-height:90vh;
    gap:20px;
}
section p{
    line-height: 1.3;
    padding:.5rem 0;
    /* font-size:20px; */
}
.footer{
    position: fixed;
    bottom:0;
    left:0;
    background-image: url('../assets/images/footer-bg.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-repeat: no-repeat;
    background-position:center 0px;
    background-size: cover;
    height: 16vh;
    gap:20px;
}
.footer-links{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-family: 'Nexa-Extralight';
    font-weight: bold;
}
.footer-links a{
    display: inline;
    margin:auto 20px;
    font-size: .8rem;

}
.footer img{
    width:130px;
    /* margin-bottom:-15px; */
    order:-1;
}
/*contact page styling*/

.contact-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:85%;
    height: 80vh;
}

.right,.left{
    width:50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.left{
margin-top:50px;
}
.left h2 , .left h4,.left p,.left a{
    position: relative;
}
.left h2{
    bottom:10px;
}
.left h4,.left a{
    top:20px;
    color:white;
}
.left h4{
    font-size: 1.5rem;
}
.left a{
    font-size: 2rem;
}
.left p{
    max-width:80%;
    font-family: 'Nexa-ExtraLight';
    font-weight: bold;
}
.right{
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width:80%;
    /* justify-content: center; */
    /* align-items: center; */
    gap:10px;
}
form input,form textarea{
    width:100%;
    max-width:500px;
    padding: .5rem;
    border-radius: 25px;
    border:none;
    background: rgba(255,255,255,.9);
}
form input:focus, form textarea:focus{
    background: rgba(255,255,255,1);
    outline: rgba(0,0,0,.6);

}
input::placeholder,textarea::placeholder{
    padding:.5rem;
    color:#D92728;
    font-family: 'Nexa-ExtraLight';
    font-weight: bold;
    
}
form button {
    width:100%;
    max-width: 500px;
    height:50px;
    border-radius: 40px;
    color:white;
    background: black;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Nexa-ExtraLight';
    font-weight: bold;
    transition: .5s ease;
}
form button:hover{
    filter: drop-shadow(0px 5px .5rem rgba(0,0,0,.5));
}
@media screen and (min-width:601px) and (max-width:1000px){

}
@media only screen and (max-width:600px){
    .nav-links ul li{
        display: none;
    }
 .nav-drop-links a{
    width: 100%;
 }
    h2{
        font-size: 2.5rem;
    }
    h4{
        font-size: 2.5rem;
    }
    .left a{
        font-size: 1.5rem;
    }
    .contact-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .left,.right{
        width: 100%;
        justify-content: center;
        height:auto;
        /* align-items: center; */
    }
    .left{
        margin-top: 0;
    }
    .right{
        align-items: center;
    }
    .footer-links{
        flex-wrap: wrap;
    }
    form textarea{
        height:30%;
        width: 100%;
    }
    section{
        /* width:85%; */
        height: auto;
        
    }
    .about-desc{
        width: 90%;
    }
    .about-desc p{
        line-height: 1.1;
        /* padding: .1rem 0; */
    }
}