*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family:Nexa-ExtraLight ;
    src: url(../assets/fonts/Nexa-ExtraLight.ttf);
}
@font-face {
    font-family:Nexa-Heavy ;
    src: url(../assets/fonts/Nexa-Heavy.ttf);
}
body{
    overflow-x: hidden;
    font-family: 'Nexa-Heavy';
}
nav{
    width:100%;
    background: black;
    height:15vh;
    border-radius: 0 0 55% 5%;
    position: sticky;
    top:0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease;
    z-index: 10000;
}
nav.active{
    height:10vh;
    border-radius: 0;
}
.nav-drop{
    width:100%;
    height: 100vh;
    position:fixed;
    top:-150%;
    background: black;
    transition: .5s ease;
    z-index: 100;
}
.download{
    width:300px;
    height:200px;
    border-radius: 50%;
    background:#d62728;
    text-align: center;
    position: fixed;
    top:-5%;
    right:-3%;
    z-index: 1000;
    display: grid;
    place-items:center;
}
.download h3{
    color:white;
    position: relative;
    top:50px;
}

.close{
    position: absolute;
    width:50px;
    height: 50px;
    color: white;
    font-size: 3rem;
    top:15%;
    right:5%;
    cursor:pointer;
}
.nav-drop.active{
    top:0;
}

.logo{
    width:150px;
    height: 100px;
    /* display: grid;
    place-items: center; */
    margin-left:7.5% ;
    /* padding-top:1rem; */
    transition: .3s ease;
    position: relative;
    /* background: rgba(255,255,255,1); */
}
.logo img{
    position: absolute;
    /* object-fit: cover; */
    width:100%;
    height: 100%;
}
.logo.active{
    height:80px;
    width:100px;
    padding-top: 0;
}

.dots{
    margin-right:7.5%;
    cursor: pointer;
    transition: .2s ease;
}
.dots img{
    width:100%;
}
h1, h2,h3,h4,p{
    font-family: 'Nexa-Heavy';
    color:#D92728;
}
.hero{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width:85%;
    height: 100vh;
    margin: 0 auto;
    /* position: relative; */
}

.hero h1{
    font-size: 4rem;
    letter-spacing: 2px;
    width:30%;
    color:#D92728;
    position: absolute;
    /* top:70%;
    left:15%;
    transform: translate(-15%,-70%); */
    height:50%;
    line-height: 1.1;
    /* animation: slideRight 1 forwards 1s; */
}
.heads{
    left:-200%;
    z-index: 5;
}
.hero .img-holder{
    width: 70%;
    height: 70%;
    position: absolute;
    left:150%;
    z-index: 0;
    top:20%;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.img-holder img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    clip-path: url(#cloud);
}
.img-holder img:nth-of-type(1){
    object-position: -200px 0;
    z-index: 5;
}
.img-holder img:nth-of-type(2){
    object-position: -200px 0;
    z-index: 4;
}
.img-holder img:nth-of-type(3){
    object-position: -220px -100px;
    z-index: 3;
}
.scroll{
    width:5%;
    height: 10%;
    position: absolute;
    top:80%;
    left:90%;
    animation: fadeIn forwards 1s ;
    animation-delay: 1s;
    opacity: 0;
    transition: .5s ease;
    /* transform: translateY(-75%); */
}
.scroll img{
    position: absolute;
    width:100%;
    height: 100%;
}
.scroll:hover{
    transform:translateY(20px)  rotateZ(-15deg) ;
    cursor: pointer;
    
}
.red-circle, .black-circle{
    border-radius: 50%;
    position: absolute;
    z-index: -5;
}
.red-circle{
    width:400px;
    height:400px;
    background-color:#d62728;
    left:-21%;
    top:70%;
}
.black-circle{
    background-color: black;
    width: 1800px;
    height:500px;
    left:55%;
    top:88%;
}
.what-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.desc{
    width: 50%;
    padding: 1rem 0;
}
.desc h2{
    font-size: 4rem;
    color:#D92728;
    line-height: 1;
    padding: 1rem 0;
}
.desc p{
    font-size: 1.2rem;
    color:black;
    line-height: 1.2;
    width: 80%;  
    text-align: justify;
}
.image-container{
    width:35%;
    height: 80%;
    position: relative;
}
.image-container img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: contain;
}
.features-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.feat-wrapper{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom:100px;
}
.feat{
    width: 220px;
    height: 220px;
    background: #D92728;
    
    border-radius: 50%;
    position: relative;
    text-align: center;
    transition: .5s ease;
    top:0;
}
.feat h3{
font-size: 1.5rem;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
/* padding:1rem; */
color:black;

}
.feat-under{
    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 50%;
    background: black;
    transition: .3s ease;
    z-index: -2;
    display: grid;
    place-items:center;
    opacity: 0;
    /* text-align: justify; */
}
.feat-under::before{
    content:'';
    position: absolute;
    width:100%;
    height:50%;
    background:black;
    border-radius: 0 0 150% 150%;
    bottom:-25%;
    opacity: 1;

}
.feat-under p{
    position: absolute;
    top:55%;
    width:70%;
    transform: translateY(10%);
    color:white;
}
.feat:hover > .feat-under{
height: 165% ;
transform: translateY(10px);
border-radius: 35% 35% 0 0;
opacity: 1;
}

.feat:hover{
    cursor:pointer;
    /* background: #D92708; */
    top:-20px;
    transition: .3s ease;
}
#howto h2{
    font-size: 4rem;
    margin-left:4%;
}
#howto h4{
    font-size: 2rem;
    /* position: relative; */
    position: absolute;
    top:4%;
    width:35%;
    margin-left: 4%;
}
#howto h4:nth-of-type(2){
left:-100%
}
#howto p{
    color:black;
    position:absolute;
    top:50%;
    /* right:15%; */
    transform: translate(15%,-50%);
}
#howto p:nth-of-type(2){
    left:150%;
}
.howto-desc{
    width:40%;
}
.howto-container{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    position: relative;

}
.howto-img-wrapper{
    position: relative;
    width:85%;
    /* margin:10% auto auto; */
    margin-top:8%;
}

.howto-img-container{
    width: 25%;
}

.howto-inner-img{
    position: absolute;
    width:65%;
    height: 70%;
    background-image: url(https://s3-alpha-sig.figma.com/img/f692/cf9a/8cf7d96371ba91c8381ca80e54f0b94b?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PwDfN2bUiiqwuPXGMLqQrlb9Y7EUySZQrSrpW8OxLK2xe37rIo9xP2OpiHxotCyR23zroIIng-FCIfmopRY5XrCqpV4UvGk6J4EOHdmHSfVsLwxW7UwpYInm6F1u6SfkrUPwPYufnV76fb88jgLl-RIDmCUPAlKuA2X9IWbqPierRu1OZpINTUWNJ01QZmFnCx7AkiaSLNPTh87BfSwZDjIwMC2tVI2Ng5Wsx7mh2kWWLqeL7buokKm-bX4H4eBRbS0-DB9G~K~IWskJssfV~QnwzzZcobKddLFdq6ZOTQXCATEgl3OI~t5hy1FPliR0pjOyO0rAMgF19jmHwUDv1A__);
    background-size: cover;
    background-position: center -35px;
    background-repeat: no-repeat;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);

}
.howto-write{
    width:25%;
    font-size: 1.2rem;
}
.howto-write p{
    width:20%;
}

#testimonials h2{
    text-align: left;
    font-size: 4rem;
    margin-bottom:-10px;
}
.testimonials-wrapper{
    width:100%;
    height:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0 15px;
    margin-top: 2%;
    overflow-y: hidden;
    position: relative;
    
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col:nth-of-type(1),.col:nth-of-type(3){
    justify-content: flex-start;
}
.col:nth-of-type(2) > .card,.col:nth-of-type(4)>.card{
bottom:15%;
background: #D92728;
}
.col:nth-of-type(1) > .card:nth-of-type(2) ,.col:nth-of-type(3) > .card:nth-of-type(2) {
    background: #D92728;
    top:20px;
}
.card{
    background: #9A1D20;
    width:300px;
    height:430px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap:5px; */
    color:white!important;
    position: relative;
    transition: .3s ease;
    scale: 0;
}
.cont:hover{
    transform: translateY(15px) scale(1.01);
}
.card:nth-of-type(2),.card:nth-of-type(4){
    top:5%;
}
.card-img{
    width:92%;
    height:50%;
    margin: 10px  auto auto ;
    background: white;
    border-radius: 20px;
    
}
.card-desc{
    width:95%;
    height:40%;
    text-align: center;
    display: grid;
    place-items:center;
    margin-bottom:20px;
}
.card-desc > *{
    color:white;
    padding:.5rem;
    
}
.card-desc h3{
    /* padding:.2rem; */
    font-size: 1.2rem;
    line-height: 1.2;
    /* width:100%; */
}
.card-desc p{
    font-size: .8rem;
    font-weight: 200;
    padding: .2rem;
}
.card-desc h4{
    padding-bottom: .5rem;;
}
#getApp{
    text-align: center;
}
#getApp h2{
    font-size: 3rem;
    position: relative;
    top: 150px;
    line-height: 1.2;
}
.getApp-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.qr-holder{
    display: grid;
    width:40%;
    position: relative;
    place-items: center;
}
.qr-img-holder{
    width:45%;
    position: relative;
}
.qr-img-holder img{
    position: relative;
    width: 100%;
    height: 100%;
}
.download-buttons{
    width:40%;
    display: flex;
    justify-content: center;
    border-left:3px solid #d62728
}
.download-holder{
    display: flex;
    width:50%;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
#about{
    color:white!important;
    /* background: rgba(0,0,0,.6); */
    position: relative;
    
}
#about h2{
    color:white;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top:90px;
}
.about-desc{
    position: relative;
    top:150px;
    width:70%;
    margin: auto;
}
#about p{
    color:white;
    font-size: 1rem;
    line-height: 1.2;
    padding:.5rem 1rem;
}
.footer{
    display: flex;
    width:100%;
    position: absolute;
    bottom:0%;
    justify-content: space-around;
    align-items: center;
}
.footer span{
    margin:auto 1rem;
}
.page{
    overflow: hidden;
}